{% extends 'main.html' %}
{% load static %}
{% block content %}

<section class="vh-100 section-color">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
  
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
  
              <h3 class="mb-3">TODO List</h3>

              <form action="create/" method="POST" class="d-flex justify-content-center align-items-center mb-4">
                {% csrf_token %}
                <div class="form-outline flex-fill">
                  <input type="text" name="task" id="form3" class="form-control form-control-lg" placeholder="Add task" />
                </div>

                <button type="submit" class="btn btn-primary btn-lg ms-2">Add</button>
              </form>
  
              <ul class="list-group mb-0">
                {% for text in unfinished %}
                <li
                  class="list-group-item d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2">
                  <div class="d-flex align-items-center">
                  <input class="form-check-input me-2 todo-list" type="checkbox" data-id="{{text.id}}"/>{{text.task}}</div>
                  <a href="{% url 'delete-task' text.id %}" class="remove-btn">&#10006;</a>
                </li>
                {% endfor %}
                {% for text in finished %}
                <li
                  class="list-group-item d-flex d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2">
                  <div class="d-flex align-items-center">
                    <input class="form-check-input me-2 todo-list" type="checkbox" data-id="{{text.id}}" checked /><s>{{text.task}}</s>
                  </div>
                  <a href="{% url 'delete-task' text.id %}" data-mdb-toggle="tooltip" class="remove-btn">&#10006;</a>
                </li>
                {% endfor %}
              </ul>
  
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
